.img{
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    color: red;
}

.container{

}

.box{
    margin: 20px;
    background-color: black;
    width: 500px;
    height: 700px;
}