.img {
  background-color: rgb(124, 125, 128);
  margin: 20px;
  text-align: center;
  height: 240px;
  line-height: 240px;
  font-size: 50px;
  color: red;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
}

.box {
  margin: 20px;
  background-color: black;
  width: 400px;
  height: 500px;
}

.text {
  font-size: 20px;
}

.booknow {
  background-color: green;
  margin: 20px;
  font-size: 40px;
  color: black;
}
